header {
    display: flex;
    justify-content: center;
    padding: 50px 40px;
    background-image: linear-gradient(to top, #ffd1ff 0%, #a6c1ee 100%);
    font-family: 'Syncopate', sans-serif;
    font-size: 2.5em;
}
