html {
  height: 100%;
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

div {
  text-align: center;
}

#app {
  display: grid;
  grid-auto-rows: minmax(150px, auto);
  /* grid-template-columns:  */

  color: #f0d43a;
  justify-content: center;
  grid-gap: 1em;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

.feel {
  height: 120px;
}

.myInput {
  max-height: 100px;
  width: 600px;
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  border-radius: 40px;
}

.entry {
  background: rgba(59, 74, 107, 0.4);
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "head head head"
    "date city temp"
    "cont cont cont";
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.title {
  grid-area: head;
  font-size: 30px;
  text-shadow: 2px 2px 4px #000000;
}

#entryHolder {
}

#date {
  grid-area: date;
  text-shadow: 1px 1px 3px darkblue;
}

#temp {
  grid-area: temp;
  text-shadow: 1px 1px 3px darkblue;
}

#location {
  grid-area: city;
  text-shadow: 1px 1px 3px darkblue;
}

#content {
  grid-area: cont;
  font-size: 25px;
  text-shadow: 1px 1px 3px darkblue;
}

.headline {
  background-image: linear-gradient(
    109.6deg,
    rgba(255, 179, 189, 1) 1.8%,
    rgba(254, 248, 154, 1) 50.6%,
    rgba(161, 224, 186, 1) 100.3%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.buttonLine {
  display: flex;
  justify-content: space-evenly;
}

#zip {
  width: 90%;
  border-radius: 25px;
}

#generate {
  width: 50%;
  border-radius: 50px;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 23px;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  margin-bottom: 7px;
}

input {
  display: block;
  height: 60px;
  background: #22b2da;
  color: #f0d43a;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border: none;
  text-align: center;
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}

button {
  width: 400px;
  height: 100px;
  background: #3b4a6b;
  color: #f0d43a;
  font-size: 26px;
  font-family: "Oswald", sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
}
h1 {
  font-size: 60px;
}

textarea {
  background: #22b2da;
  color: #f0d43a;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  vertical-align: center;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}
