<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Test</title>
  </head>

  <body>
    <header>
      <div class="">Logo</div>
      <div class="">navigation</div>
    </header>

    <main>
      <section>
        <form class="" onsubmit="return Client.handleSubmit(event)">
          <input
            id="textinput"
            type="text"
            name="input"
            value=""
            placeholder="Input text here"
          />
          <input
            type="submit"
            name=""
            value="submit"
            onclick="return Client.handleSubmit(event)"
            onsubmit="return Client.handleSubmit(event)"
          />
        </form>
      </section>

      <button id="submissionTestButton">Basic test</button>
      <button id="submissionButton2">Call meaningcloud</button>

      <section>
        <strong>Form Results:</strong>
        <div id="results">
          <div id="scores">
            <div>
              Polarity:
              <div class="scoreNumber" id="polarityScore">0</div>
            </div>
            <div>
              Confidence:
              <div class="scoreNumber" id="confidenceScore">0</div>
            </div>
            <div>
              Agreement:
              <div class="scoreNumber" id="agreementScore">0</div>
            </div>
            <div>
              Irony:
              <div class="scoreNumber" id="ironyScore">0</div>
            </div>
            <div>
              Subjectivity:
              <div class="scoreNumber" id="subjectivityScore">0</div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <p>This is a footer</p>
    </footer>
  </body>
</html>
