<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>MeaningMate sentiment analysis</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Shizuru&family=Syncopate&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="">Meaning<strong>Mate</strong></div>
    </header>

    <main>
      <section>
          <form id="form">
          <input
            id="textinput"
            type="text"
            name="input"
            value=""
            placeholder="Input text here"
          />
          <input
            type="submit"
            name=""
            value="submit"
          />
        </form>
      </section>
      <section>
        <div id="results">
          <div id="scores">
            <div class="scoreContainerTopRow" id="polarity">
              <div class="scoreLabel">
                Polarity:
              </div>
              <div class="scoreNumber" id="polarityScore">0</div>
            </div>
            <div class="scoreContainerTopRow" id="confidence">
              <div class="scoreLabel">
                Confidence:
              </div>
              <div class="scoreNumber" id="confidenceScore">0</div>
            </div>
            <div class="scoreContainerLowerRow" id="agreement">
              <div class="scoreLabel">
                Agreement:
              </div>
              <div class="scoreNumber" id="agreementScore">0</div>
            </div>
            <div class="scoreContainerLowerRow" id="irony">
              <div class="scoreLabel">
                Irony:
              </div>
              <div class="scoreNumber" id="ironyScore">0</div>
            </div>
            <div class="scoreContainerLowerRow" id="subjectivity">
              <div class="scoreLabel">
                Subjectivity:
              </div>
              <div class="scoreNumber" id="subjectivityScore">0</div>
            </div>
          </div>
        </div>
        <div id="loading"><img src="./src/client/media/loading.gif"</div>
        
      </section>
    </main>

    <footer>
      <p><center>Data provided by <a href="https://www.meaningcloud.com/developer/sentiment-analysis">Meaningcloud</a></center></p>
    </footer>
  </body>
</html>
